.visually-hidden {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

@font-face {
  font-family: "FuturaDemiC";
  src: url("../../assets/fonts/FuturaDemiC.ttf"); }

@font-face {
  font-family: "FuturaBook";
  src: url("../../assets/fonts/futurabookc.otf"); }

@font-face {
  font-family: "Yeseva";
  src: url("../../assets/fonts/Yeseva_One_Regular.ttf"); }

@font-face {
  font-family: "DM";
  src: url("../../assets/fonts/DMSerifText-Regular.ttf"); }

html, body, h1, h2, p, ul {
  margin: 0;
  padding: 0; }

a:link,
a:active,
a:visited {
  color: #000;
  text-decoration: none; }

.header {
  background-color: #131313;
  align-items: center;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 376px) {
    .header {
      padding: 1.5rem 6.25rem 1.375rem 5.125rem; } }
  @media (max-width: 375px) {
    .header {
      padding: 1.4375rem 1.125rem; } }

.logo {
  color: #e3b873;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  text-transform: uppercase; }
  @media (min-width: 376px) {
    .logo {
      font-size: 0.875rem; } }
  @media (max-width: 375px) {
    .logo {
      font-size: 0.75rem; } }

@media (max-width: 375px) {
  .navigation {
    display: none; } }

@media (min-width: 376px) {
  .navbar {
    display: flex;
    font-family: "FuturaBook", "Arial", sans-serif;
    font-size: 0.875rem;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase; }
    .navbar .menu-item {
      margin-right: 2.9375rem; }
      .navbar .menu-item .link {
        transition: color 0.25s ease; }
        .navbar .menu-item .link:hover {
          color: #e3b873; }
      .navbar .menu-item .last-item {
        margin-right: 0; } }

.link {
  color: #fff; }

.phone-number {
  color: #fff;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  transition: color 0.25s ease; }
  .phone-number:hover {
    border-bottom: 1px solid #e3b873;
    color: #e3b873; }
  @media (min-width: 376px) {
    .phone-number {
      font-size: 0.875rem; } }
  @media (max-width: 375px) {
    .phone-number {
      font-size: 0.75rem; } }

@media (min-width: 376px) {
  .call-request {
    background-color: #e3b873;
    border-radius: 2px;
    color: #fff;
    font-family: "FuturaDemiC", "Arial", sans-serif;
    font-size: 0.8125rem;
    padding: 0.8125rem 2.0625rem;
    text-transform: uppercase;
    transition: box-shadow 0.25s ease; }
    .call-request:hover {
      box-shadow: 0 0.3125rem 0.9375rem rgba(227, 184, 115, 0.3);
      cursor: pointer; } }

@media (max-width: 375px) {
  .call-request {
    display: none; } }

.home {
  display: flex;
  position: relative; }

.main-wrapper {
  background-image: url("../../assets/images/main-image.jpg");
  flex-grow: 1; }

.proposition {
  color: #fff; }

.proposition-head {
  font-family: "Yeseva", "Times New Roman", serif;
  font-weight: normal;
  text-transform: uppercase; }

.city {
  color: #e3b873; }

.proposition-text {
  font-family: "FuturaBook", "Arial", sans-serif;
  font-weight: normal; }

.calculate {
  background-color: #e3b873;
  border-radius: 2px;
  border: 0;
  color: #fff;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 0.8125rem;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 0.25s ease; }
  .calculate:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3); }

.submit-application {
  background: none;
  border-radius: 2px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 0.8125rem;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 0.25s ease; }
  .submit-application:hover {
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
    cursor: pointer; }

@media (min-width: 376px) {
  .socials {
    background-color: #131313; }
  .instagram-link {
    position: relative;
    top: 38%; }
  .instagram {
    color: #e3b873;
    display: inline-block;
    font-family: "FuturaDemiC", "Arial", sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    transform: rotate(90deg);
    transition: color 0.25s ease; }
    .instagram::after {
      border-bottom: 1.5px solid #e3b873;
      content: '';
      margin-left: 8px;
      position: absolute;
      top: 50%;
      transition: border 0.25s ease;
      width: 50px; }
    .instagram:hover {
      color: #fff; }
  .main-wrapper {
    padding: 12.125rem 0 13rem 3.75rem; }
  .proposition {
    max-width: 33.75rem; }
  .proposition-head {
    font-size: 2.5rem;
    margin-bottom: 1.25rem; }
  .proposition-text {
    font-size: 1.375rem;
    line-height: 1.875rem;
    margin-bottom: 2.5rem;
    max-width: 450px; }
  .calculate {
    margin-right: 1.25rem;
    padding: 1.25rem 2.5625rem;
    max-width: 12.8125rem; }
  .submit-application {
    padding: 1.25rem 1.375rem;
    transition: box-shadow 0.25s ease;
    max-width: 12.8125rem; }
  .submit-application-mobile {
    display: none; }
  .scroller {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    bottom: -2.6875rem;
    padding: 2.125rem 3rem;
    position: absolute;
    transition: box-shadow 0.25s ease; }
    .scroller:hover {
      box-shadow: inset 0 0 15px 5px rgba(227, 184, 115, 0.2);
      cursor: pointer; }
  .scroll {
    color: #fff;
    font-family: "DM", "Yeseva", "Times New Roman", serif;
    font-size: 0.875rem;
    font-weight: normal;
    margin-right: 0.625rem;
    text-transform: uppercase; }
  .arrow-down {
    border-radius: 100%;
    border: 1.5px solid #e3b873;
    padding: 0.625rem; }
  .arrow {
    border-bottom: 1.5px solid #e3b873;
    border-left: 1.5px solid #e3b873;
    height: 0.375rem;
    transform: rotate(-45deg);
    width: 0.375rem; } }

/*----------------MOBILE-----------------------*/
@media (max-width: 375px) {
  .socials {
    display: none; }
  .main-wrapper {
    padding: 5.3125rem 1.125rem 3.8125rem; }
  .proposition-head {
    font-size: 1.4375rem;
    margin-bottom: 0.9375rem;
    max-width: 340px; }
  .proposition-text {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    max-width: 285px;
    margin-bottom: 2rem; }
  .calculate {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 1.625rem; }
  .submit-application-desktop {
    display: none; }
  .submit-application {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
  .scroller {
    display: none; } }

.projects {
  background-color: #131313;
  height: 67.125rem; }

.subscription {
  height: 43.75rem; }

.types {
  height: 53.75rem; }

.meausurements {
  height: 62.5rem; }

.examples {
  height: 54rem;
  background-image: url("../../assets/images/examples.jpg"); }

.design-project {
  height: 108.375rem;
  background-color: #131313; }

.team {
  height: 57.5rem; }

.clients {
  height: 65.375rem; }

.contacts {
  height: 59.625rem;
  background-image: url("../../assets/images/contacts-bg.jpg"); }

.footer {
  height: 8.3125rem;
  background-color: #131313; }

/*
@import 'vendors/bootstrap';
@import 'vendors/jquery-ui';

@import 'base/reset';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/cover';
@import 'components/dropdown';

@import 'pages/home';
@import 'pages/contact';

@import 'themes/theme';
@import 'themes/admin';*/

/*# sourceMappingURL=main.css.map */
