@mixin flex ($align-items: center, $justify-content: center){
  align-items: $align-items;
  display: flex;
  justify-content: $justify-content;
}

$right: rotate(45deg) translate(-15%, 15%);
$left: rotate(225deg) translate(-10%, 10%);
$left-mobile: rotate(225deg) translate(55%, 7%);
$right-mobile: rotate(45deg) translate(-85%, 10%);

@mixin scroll-button ($direction) {
  position: absolute;
  background-color: $gold;
  border-radius: 100%;
  padding: 1.2em;
  transition: $transit;

  & * {
    border-top: 2.5px solid $white;
    border-right: 2.5px solid $white;
    width: 0.7em;
    height: 0.7em;
    transform: $direction;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(227, 184, 115, 0.5);
  }
}

@mixin pseudo-line ($width) {
  border-bottom: 1.5px solid $gold;
  content: '';
  position: absolute;
  width: $width;
}

@mixin button-hover () {
  box-shadow: 0 toRem(5px) toRem(15px) rgba(227, 184, 115, 0.3);
  cursor: pointer;
}