$dark: #131313;
$gold: #e3b873;
$white: #fff;
$font-size: 16px;
$futura-demic: "FuturaDemiC", "Arial", sans-serif;
$futura-book: "FuturaBook", "Arial", sans-serif;
$yeseva: "Yeseva", "Times New Roman", serif;
$dm: "DM", "Yeseva", "Times New Roman", serif;
$transit: .25s ease;
$border-gold: 1.5px solid $gold;
$mobile: 375px;
$desktop: 376px;