.examples-desktop {
  background-image: url('../../assets/images/examples.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: toRem(240px);
  padding: toRem(137px) toRem(100px) toRem(78px) toRem(100px);
  position: relative;

  @media ($mobile) {
    display: none;
  }
}

.examples-list {

  & .list-title {
    color: $gold;
    font-family: $yeseva;
    font-size: toRem(27px);
    text-transform: uppercase;
    max-width: toRem(300px);
    margin-bottom: toRem(47px);
  }

  & .list-item {
    list-style: none;
    font-family: $proxima;
    color: $white;
    font-size: toRem(20px);
    margin-bottom: toRem(25px);
    transition: $transit;

    & .active {
      color: $gold;
      border-bottom: 1px solid $gold;
    }

    &:hover {
      color: $gold;
      cursor: pointer;
    }
  }
}

.example-slides {
  position: absolute;
  top: -13%;
  right: 7%;

  & .column-left{
    margin-right: toRem(43px);
    display: inline-block;
    margin-top: 75px;
  }

  & .example-image {
    margin-bottom: toRem(40px);
    display: block;
  }

  & .column-right {
    display: inline-block;
    vertical-align: top;
  }
}


.examples-mobile {
  padding-left: toRem(17px);
  padding-right: toRem(17px);
  position: relative;

  @media ($middle-from) {
    display: none;
  }

  & .examples-title {
    color: $gold;
    font-family: $yeseva;
    font-size: toRem(22px);
    text-transform: uppercase;
    margin-bottom: toRem(25px);
    text-align: center;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
  }

  & .swiper {
    position: relative;

    & .swiper-image {
      width: 100%;
    }

    & .scroll-right {
      right: 3vw;
      top: 46%;
      max-width: toRem(35px);
      max-height: toRem(35px);
      @include scroll-button ($right-mobile);
    }

    & .scroll-left {
        left: 3vw;
        top: 46%;
        max-height: toRem(35px);
        max-width: toRem(35px);
        @include scroll-button ($left-mobile)
      }
  }

  & .examples-wrapper {
    left: 0;
    position: absolute;
    background: #131313;
    width: 100%;
    min-height: 50vh;
    top: 67%;
  }
}
