.footer {
  background-color: $dark;
  @include flex($justify-content: space-between);

  @media ($desktop) {
    padding: toRem(24px) toRem(100px) toRem(22px) toRem(82px);
  }

  @media ($mobile) {
    display: none;
  }
}