.visually-hidden {
  @extend %h1;
}

.header {
  background-color: $dark;
  @include flex($justify-content: space-between);

  @media ($desktop) {
    padding: toRem(24px) toRem(100px) toRem(22px) toRem(82px);
  }

  @media ($mobile) {
    padding: toRem(23px) toRem(18px);
  }
}

.logo {
  color: $gold;
  font-family: $futura-demic;
  text-transform: uppercase;
  
  @media ($desktop) {
    font-size: toRem(14px);
  }

  @media ($mobile) {
    font-size: toRem(12px);
  }
}



.navbar {
  @media ($desktop) {
    display: flex;
    font-family: $futura-book;
    font-size: toRem(14px);
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    width: 42vw;

    & .link {
        transition: $transit;

      &:hover {
        color: $gold;
      }
    }

      & .last-item {
        margin-right: 0;
      }
  }
}

.call-request {
  background-color: $gold;
  border-radius: 2px;
  color: $white;
  font-family: $futura-demic;
  font-size: toRem(13px);
  padding: toRem(13px) toRem(33px);
  text-transform: uppercase;
  transition: $transit;

  &:hover {
    @include button-hover;
  }
  
  @media  ($middle-from) and ($middle-to) {
    min-width: 141px;
  }
}

.link {
  color: $white;
}

.phone-call {
  @media  ($desktop) {
    min-width: 105px;
  }

  & .phone-number {
      color: $white;
      font-family: $futura-demic;
      transition: $transit;

      &:hover {
        border-bottom: 1px solid $gold;
        color: $gold;
        padding-bottom: 2px;
      }

      @media  ($desktop) {
        font-size: toRem(14px);
      }

      @media ($mobile) {
        font-size: toRem(12px);
      }
  }
}

@media ($mobile) {

  .navbar {
    display: none;
  }

  .call-request {
    display: none;
  }
}
