.home {
  display: flex;
  position: relative;
}

.main-wrapper {
  background-image: url("../../assets/images/main-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;

  @media  ($desktop) {
  padding: toRem(194px) 0 toRem(208px) toRem(60px);
  }

  @media  ($mobile) {
    padding: toRem(85px) toRem(18px) toRem(61px);
    background-position-x: 50%;
  }
}

.proposition {
  color: $white;

  @media  ($desktop) {
    max-width: toRem(540px);
  }

  & .proposition-head {
    font-family: $yeseva;
    text-transform: uppercase;

    @media  ($desktop) {
      font-size: toRem(40px);
      margin-bottom: toRem(20px);
    }

    @media  ($mobile) {
      font-size: toRem(23px);
      margin-bottom: toRem(15px);
      max-width: 265px;
    }

    & .city {
      color: $gold;
    }
  }

  & .proposition-text {
      font-family: $futura-book;

      @media  ($desktop) {
        font-size: toRem(22px);
        line-height: toRem(30px);
        margin-bottom: toRem(40px);
        max-width: 450px;
      }

      @media  ($mobile) {
        font-size: toRem(18px);
        line-height: toRem(25px);
        margin-bottom: toRem(32px);
        max-width: 265px;
      }
  }

  & .calculate {
      background-color: $gold;
      border-radius: 2px;
      border: 0;
      color: $white;
      font-family: $futura-demic;
      font-size: toRem(13px);
      text-align: center;
      text-transform: uppercase;
      transition: $transit;
    
      &:hover {
        @include button-hover;
      }

      @media  ($desktop) {
        display: inline-block;
        margin-right: toRem(20px);
        max-width: toRem(205px);
        padding: toRem(20px) toRem(40px);
      }

      @media ($mobile) {
        margin-bottom: toRem(26px);
        padding-bottom: toRem(20px);
        padding-top: toRem(20px);
        max-width: 344px;
      }
  }
    
  & .submit-application {
      background: none;
      border-radius: 2px;
      border: 1px solid $white;
      color: $white;
      font-family: $futura-demic;
      font-size: toRem(13px);
      text-align: center;
      text-transform: uppercase;
      transition: $transit;
    
      &:hover {
        @include button-hover;
      }

      @media  ($desktop) {
        display: inline-block;
        max-width: toRem(205px);
        padding: toRem(20px) toRem(20px);
        transition: $transit;
      }

      @media  ($mobile) {
        padding-bottom: toRem(20px);
        padding-top: toRem(20px);
        max-width: 344px;
      }
  }
}

.socials {
  background-color: $dark;

  @media  ($mobile) {
    display: none;
  }


  & .instagram-link {
      position: relative;
      top: 38%;
  }

  & .instagram {
      color: $gold;
      display: inline-block;
      font-family: $futura-demic;
      font-size: toRem(14px);
      text-transform: uppercase;
      transform: rotate(90deg);
      transition: $transit;

      &::after {
        margin-left: 8px;
        top: 50%;

        @include pseudo-line(50px);
      }

      &:hover {
        color: $white;
      }
  }
}

.scroller {
  background-color: $dark;
  bottom: toRem(-43px);
  padding: toRem(34px) toRem(48px);
  position: absolute;
  transition:  $transit;
  @include flex($justify-content: space-between);

  &:hover {
    box-shadow: inset 0 0 15px 5px rgba(227, 184, 115, 0.2);
    cursor: pointer;
  }

  @media  ($mobile) {
    display: none;
  }

  .scroll {
    color: $white;
    font-family: $dm;
    font-size: toRem(14px);
    margin-right: toRem(10px);
    text-transform: uppercase;
  }

  .arrow-down {
    border-radius: 100%;
    border: $border-gold;
    padding: toRem(10px);
  }

  .arrow {
    border-bottom: $border-gold;
    border-left: $border-gold;
    height: toRem(6px);
    transform: rotate(-45deg) translate(12%, 2%);
    width: toRem(6px);
  }
}


.submit-application-desktop {
  @media ($mobile) {
    display: none;
  }
}

.submit-application-mobile {
  @media ($desktop) {
    display: none;
  }
}