.projects {
  background-color: $dark;

  @media ($desktop) {
    padding: toRem(107px) 0 toRem(480px) toRem(101px);
    }

  @media ($mobile) {
    padding: toRem(22px) toRem(17px) 0;
  }
}

.projects-container {
  position: relative;
  flex-direction: column;
  @include flex($align-items: flex-start);

  @media ($desktop) {
    flex-wrap: wrap;
    max-height: 800px;
    overflow: hidden;
  }

  @media ($mobile) {
    align-items: baseline;
  }

  & .scroll-right {
    right: 2vw;

    @media ($desktop) {
      top: 50%;
      @include scroll-button ($right);
    }

    @media ($mobile) {
      top: 46%;
      max-width: toRem(35px);
      max-height: toRem(35px);
      @include scroll-button ($right-mobile);
    }
  }
  & .scroll-left {
    @media ($desktop) {
      display: none;
    }

    @media ($mobile) {
      left: 3vw;
      top: 46%;
      max-height: toRem(35px);
      max-width: toRem(35px);
      @include scroll-button ($left-mobile)
    }
  }

  & .flex-pseudo {
    @media ($desktop) {
      flex-basis: toRem(70px);
    }

    @media ($mobile) {
      display: none;
    }
  }

  & .flex-pseudo-bottom {
    @media ($desktop) {
      flex-basis: toRem(26px);
    }

    @media ($mobile) {
      display: none;
    }
  }
}

.project-description {

  @media ($desktop) {
    max-width: toRem(420px);
    margin-right: toRem(60px);
  }

  @media ($mobile) {
    text-align: center;
  }

  & .description-head {
      color: $gold;
      font-family: $yeseva;
      position: relative;
      text-transform: uppercase;
      line-height: 2.5rem;

      @media ($desktop) {
        font-size: toRem(27px);
        max-width: toRem(255px);
        margin-bottom: toRem(34px);

        &:after {
          bottom: 25%;
          right: -3%;

          @include pseudo-line(92px);
        }
      }

      @media ($mobile) {
        display: inline-block;
        font-size: toRem(22px);
        margin-bottom: toRem(22px);
        max-width: 200px;
      }      
  }

    .description {
      color: $white;
      display: inline-block;
      font-family: $futura-book;
      line-height: 1.8rem;
      padding-bottom: toRem(36px);

      @media ($desktop) {
        font-size: toRem(18px);
      }

      @media ($mobile) {
        font-size: toRem(14px);
      }
    }
}


.project-slider {
  @media ($desktop) {
    order: 3;
  }

  @media ($mobile) {
    order: 2;
  }
}
  
.slide-name {
  @media ($desktop) {
    color: $white-transparent;
    font-family: $dm;
    list-style: none;
    margin-bottom: toRem(45px);
    text-transform: uppercase;

    @include flex($justify-content: flex-start, $align-items: baseline);

    & .active-slide {
      color: $gold;
      border-bottom: 1px solid $gold;
      padding-bottom: 3px;
    }

    & .name {
      margin-right: toRem(60px);
      transition: $transit;

      &:hover {
        color: $gold;
        cursor: pointer;
        border-bottom: 1px solid $gold;
        padding-bottom: 3px;
      }
    }
  }

  @media ($mobile) {
    display: none;
  }
}

.project-slides {
  position: relative;
  @include flex($justify-content: space-between);

  @media ($mobile) {
    margin-bottom: toRem(36px);
  }

  & .slide {
    @media ($desktop) {
      margin-right: toRem(21px);
    }
  }

  & .visible {
    @media ($mobile) {
      max-width: 100%;
    }
  }

  & .hidden {
    @media ($mobile) {
      display: none;
    }
  }
}

.description-parameters {
  @include flex($justify-content: space-between, $align-items: flex-start);
  flex-flow: column wrap;
  max-height: toRem(200px);

  @media ($desktop) {
    min-width: toRem(420px);
  }

  @media ($mobile) {
    order: 3;
    min-width: 100%;
  }

  & .parameter-head {
      color: $gold;
      font-family: $yeseva;
      font-size: toRem(18px);
      text-transform: uppercase;
      margin-bottom: toRem(5px);
  }

  & .parameter {
    color: $white;
    font-family: $futura-book;
    font-size: toRem(15px);
    line-height: 1.4rem;
  }

  & .parameter-container {
    flex: 1 0 toRem(100px);  
  }
}

.slider-navigation {
  min-width: toRem(210px);

  @include flex($justify-content: space-between, $align-items: normal);

  @media ($mobile) {
    display: none;
  }

  & .circle {
    width: 9px;
    height: 9px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    transition: $transit;

    &:hover {
      cursor: pointer;
      background-color: $white;
    }
  }

  & .active {
    background-color: $white;
  };

  & .slider-arrow {
    transition: $transit;

    & svg path {
      transition: $transit;
    }
  
    &:hover {
      cursor: pointer;

      & svg path {
        fill: $gold;
      }
    }
  }
}