@font-face {
  font-family: "FuturaDemiC";
  src: url("../../assets/fonts/FuturaDemiC.ttf");
}

@font-face {
  font-family: "FuturaBook";
  src: url("../../assets/fonts/futurabookc.otf");
}

@font-face {
  font-family: "Yeseva";
  src: url("../../assets/fonts/Yeseva_One_Regular.ttf");
}

@font-face {
  font-family: "DM";
  src: url("../../assets/fonts/DMSerifText-Regular.ttf");
}